<html>
<!-- ORIGINAL APPLE WEBSITE -->
<!-- https://www.apple.com/th-en/shop/browse/home_th_en -->
<head>
    <%- include("header.ejs") %>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

        .order-section {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 0;
            cursor: pointer;
        }
        .order-section h2 {
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 20px;
        }
        .container {
            width: 700;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .grid {
            width: 100%;
        }
        .grid-item {
            background: white;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: .5s;
            border-radius: 1rem;
            box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
            margin: 2rem;
        }
        .grid-item:hover {
            transform: scale(1.02);
            box-shadow: 2px 4px 12px rgb(0 0 0 / 18%)
        }
        .grid-item img {
            width: 300px;
        }
        .grid-detail {
            margin: 20px 0;
        }
        .secondary-text {
            color: rgb(118, 118, 118)
        }

    </style>
</head>
<body>
    <%- include("nav.ejs") %>

    <section class="order-section">
        <div class="container">
            <h2>Orders</h2>
            <div class="grid">
                <% for(let i=0; i < orders.length; i++) {%>
                    <div class="grid-item">
                        <!-- <div class="row"> -->
                            <span class="col-3"><img style="max-width:10rem" src="<%= orders[i].images[0] %>"></span>
                            <div class="col-9 grid-detail">
                                <div align="right">
                                    <div  style="padding: 1rem" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></div>
                                    
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <% if (orders[i].status == "SUCCESS") { %>
                                            <a class="dropdown-item" onclick="requestRefund(<%= orders[i].id %>)" href="#">Request Refund</a>
                                        <% } else { %>
                                            <a class="dropdown-item" style="color: rgb(186, 186, 186);">Request Refund</a>
                                        <% } %>

                                    </div>
                                </div>
                                


                                <strong>Order#: <%= orders[i].transactionId %> </strong>
                                <% if (orders[i].status == "SUCCESS") { %>
                                    <span class="badge badge-pill badge-success">Success</span>
                                <% } else if (orders[i].status == "REFUND_REQUESTED") { %>
                                    <span class="badge badge-pill badge-info">Refund Requested</span>
                                <% } else { %>
                                    <span class="badge badge-pill badge-success">Refunded</span>
                                <% } %>

                                <div class="secondary-text"><%= orders[i].total %></div>
                                <div class="secondary-text"><%= orders[i].itemCount %> item(s)</div>
                                <br>
                                
                            </div>
                        <!-- </div> -->
                    </div>
                <% } %>
            </div>
            <!--end grid-->
        </div>
        <!--end container-->
    </section>

    <script>
        function requestRefund(id) {
            $.ajax({
                type: "POST",
                url: (`http://localhost:8080/user/${currentUser.id}/shoppingCart/${id}/refund`),
                contentType: "application/json",
                success: function(xhr, res, options){
                    window.location.reload();
                },
                error: function(xhr){      
                    alert(xhr);
                }
            });
        }
    </script>
</body>

</html>